body {
    background: linear-gradient(#00ffff, #9600ff);
    margin: 0;
}

#wrap {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Gemunu Libre', sans-serif;    
}

#ohjelma p {
    border-left: 3px solid hotpink;    
    padding-left: 3px;
}

a {
    text-decoration: none;
    color: purple;
}

a:visited {
    text-decoration: none;
    color: purple;
}

#timer {
    font-size: 4rem;
}

#nav {
    padding-top: 2rem;
}